li {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  cursor: pointer;
  .item-img {
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }
  .item-text {
    h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
